---
enum Variant {
  Large = "lg",
  ExtraLarge = "xl",
}

interface Props {
  variant: Variant;
}

const defaultSizeClasses = "px-3.5 py-2.5";

const sizeClasses = {
  [Variant.Large]: "px-4 py-3 text-lg",
  [Variant.ExtraLarge]: "px-7 py-5 text-2xl",
}

const { class: classes, variant, ...attrs } = Astro.props;

const buttonClasses = [
  sizeClasses[variant] || defaultSizeClasses,
  "rounded-full",
  "bg-cyan-600",
  "font-semibold",
  "text-white",
  "shadow-sm",
  "hover:bg-cyan-500",
  "focus-visible:outline",
  "focus-visible:outline-2",
  "focus-visible:outline-offset-2",
  "focus-visible:outline-cyan-600",
  "dark:bg-cyan-500",
  "dark:text-white",
  "dark:hover:bg-cyan-400",
  "dark:focus-visible:outline-cyan-500",
]
---

<button type="button" class:list={[buttonClasses, classes]} {...attrs}>
  <slot />
</button>
