---
const { title } = Astro.props;
---

<html lang="en" class="antialiased min-h-screen">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
    <link rel="icon" href="data:image/x-icon;base64,AA" />
		<title>{title}</title>
    {import.meta.env.PROD === true &&
      <script
        defer
        data-domain="startup-with-markup.vercel.app"
        data-api="/api/event"
        src="/js/script.js"></script>}
	</head>
	<body class="min-h-screen">
		<slot />
	</body>
</html>
